/** css全局样式 */

html,
body,
img,
pre,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    border: none;
}

/* html, body { min-height: 100vh; } */
ol,
ul,
li {
    list-style: none;
}

.main-box {
    padding: 20px;
}

.main-box .modifiers {}

.main-box .modifiers .arco-space-item {
    margin-bottom: 4px;
}

.chart-container {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.chart-container #chart {
    /* display: flex; */
    /* flex: 1; */
    margin: 0 auto;
    width: 1000px;
    /* width: 600px; */
    height: 500px;
}